<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sominfor.somisal_app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.SomisalApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/SomisalTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activities.FicheDevisActivity"
            android:label="Details Devis"></activity>
        <activity
            android:name=".activities.FicheProduitActivity"
            android:label="Fiche Produit" />
        <activity
            android:name=".activities.DashboardActivity"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/SomisalTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SettingsActivity"
            android:label="Paramètres" />
        <activity android:name=".activities.LoginActivity" />
    </application>

</manifest>