<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sominfor.somisal_app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.SomisalApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/SomisalTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activities.ShowDevisUserActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="locked"></activity>

        <activity android:name=".activities.ShowCommandeUserActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="locked"/>
        <activity
            android:name=".activities.UpdateProduitCommandeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="locked" />
        <activity
            android:name=".activities.ReglementUpdateActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="locked" />
        <activity
            android:name=".activities.AdresseLivraisonUpdateActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="locked" />
        <activity
            android:name=".activities.AdresseFacturationUpdateActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="locked" />
        <activity
            android:name=".activities.UpdateCommandeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="locked" />
        <activity
            android:name=".activities.DevisArchivesActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="locked" />
        <activity
            android:name=".activities.DevisSoldesActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="locked" />
        <activity
            android:name=".activities.UpdateProduitDevisActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="locked" />
        <activity
            android:name=".activities.UpdateDevisActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="locked" />
        <activity
            android:name=".activities.ReglementActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="locked" />
        <activity
            android:name=".activities.AdresseLivraisonActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="locked" />
        <activity
            android:name=".activities.AdresseFacturationActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="locked" />
        <activity
            android:name=".activities.ClientDetailsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="locked"
            android:theme="@style/SomisalTheme.NoActionBar" />
        <activity
            android:name=".activities.AddProduitCommandeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="locked" />
        <activity
            android:name=".activities.AddCommandeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="locked"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".activities.CommandeDetailsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="locked" />
        <activity
            android:name=".activities.AddProduitDevisActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="locked" />
        <activity
            android:name=".activities.AddDevisActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Nouveau devis"
            android:screenOrientation="locked" />
        <activity
            android:name=".activities.FicheDevisActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Details Devis"
            android:screenOrientation="locked" />
        <activity
            android:name=".activities.FicheProduitActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Fiche Produit"
            android:screenOrientation="locked" />
        <activity
            android:name=".activities.DashboardActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="locked"
            android:theme="@style/SomisalTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SettingsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Paramètres"
            android:screenOrientation="locked" />
        <activity
            android:name=".activities.LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="locked" />
    </application>

</manifest>